header, nav, article, section, footer{}
html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "proxima-nova-soft", "Helvetica Neue", helvetica, sans-serif;
    color: #37474f;
}

.navbar{
    background-color: #e1f5fe;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar a{
    text-align: center;
    padding: 4px 6px;
    display: inline-block;
}

a{
    color: #29b6f6;
    text-decoration: none;
}
a:hover {
    color: #0277bd;
}

div img{
    max-width: 100%;
}

.center{
    position: absolute;
    left: 20%;
    width: 50%;
    text-align: center;
}

.pull-right{
    float: right;
}

.pull-text-right{
    text-align: right;
}

.pull-left{
    float: left;
}

.pull-text-left{
    text-align: left;
}

.center-text{
    text-align: center;
}

.row{
    display: table;
    width: 100%;
}

.col{
    display: table-cell;
    float: left;
    padding: 12px;
}

.tall-col{
    display: table-cell;
    padding-bottom: 2px;
    vertical-align: middle;
}

[class*='col-'] {
    min-height: 1px;
    width: 8%;
    height: 100%;
}

.col-1{width: 8%;}
.col-2{ width: 16%; }
.col-3{width: 24%;}
.col-4{ width: 33%; }
.col-5{width: 41%;}
.col-6{ width: 50%;    }
.col-7{width: 58%;}
.col-8{ width: 66%; }
.col-9{width: 72%;}
.col-10{ width: 83%; }
.col-11{width:91%;}
.col-12{ width: 100%;   }


.btn {
    text-transform: uppercase;
    background-color: #FFF;
    height: 36px;
    padding: 0 26px;
    border: none;
    border-radius: 2px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

table.table-striped {
    border-collapse: collapse;
    width: 100%;
}

table.table-striped tr th, table.table-striped tr td{
    text-align: left;
    padding: 8px;
}

table.table-striped tr th{
    font-weight: normal;
    color: #90a4ae;
}

table.table-striped tr:nth-of-type(even) {
    background-color: #e3f2fd;
}

.text-input{
    padding-top: 15px;
    padding-bottom:2px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.26);
    width: 100%;
    outline:0;
    font-size: 16px;
    background: transparent;
}

.text-input:focus    {
    border-color: #0288d1;
    padding-bottom: 0;
    border-width: 2px;
}

.text-input-error{
    padding-top: 15px;
    padding-bottom:2px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #f44336;
    width: 100%;
    outline:0;
    font-size: 16px;
    background: transparent;
}

.text-input-error:focus    {
    border-color: #f44336;
    padding-bottom: 0;
    border-width: 2px;
}

.error{
    color: #f44336;
}

@font-face {
    font-family: "FontAwesome";
    src: url(../fonts/fontawesome-webfont.ttf) format("truetype");
}

.fa{
    font-family: "FontAwesome";
}
.fa-chevron-left:before {
    content: "\f053";
}

.fa-user:before {
    content: "\f007";
}

.fa-caret-down:before {
    content: "\f0d7";
}

.fa-search:before{content:"\f002"}

.fa-big{
    font-size: 36px;
}

.fa-extra-big{
    font-size: 60px;
}

.fa-small{
    font-size: 12px;
}

.fa-comment:before {
    content: "\f075";
}

.fa-heart:before{
    content:"\f004";
}

.fa-times:before{
    content:"\f00d";
}

.fa-red{
    color: #f44336;
}

.fa-red:hover{
    color: #c62828;
}

.dropdown-btn {
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #29b6f6;
}

.dropdown-btn:hover, .dropdown-btn:focus {
    background-color: transparent;
    border: none;
    outline: 0;
    color: #0277bd;
}

.dropdown {
    position: relative;
    display: inline-block;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

/* Firefox Formatting */
:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow:none;
}

footer{
    margin-bottom: 2%;
    margin-top: 4%;
    color: #90a4ae;
    border-top: 2px solid #e3f2fd;
}