extends auth_base.jade
block content
    h2.center-text About
    br
    br
    a(href="/matching-algorithm")
        h2.center-text Matching Algorithm
    br
    a(href="/design-architecture")
        h2.center-text Design & Architecture
    br
    a(href="/test-validation")
        h2.center-text Testing & Validation
    br
    a(href="/authors")
        h2.center-text About the Authors
