extends auth_base.jade
block content
    h2.center-text About
    br
    br
    a.center-text(href="/matching-algorithm") Matching Algorithm
    br
    a.center-text(href="/design-architecture") Design & Architecture
    br
    a.center-text(href="/test-validation") Testing & Validation
    br
    a.center-text(href="/authors") About the Authors
