extends layout.jade

block nav
	header
		nav
			div.navbar.row
				div.tall-col.col-3
					a(href="/discover")
						img(src="images/logo.png", alt="DoggyDates Logo")
				div.tall-col.col-4
				div.tall-col.col-1
					a(href="/discover")
						span.fa.fa-search.fa-big
				div.tall-col.col-1
					a(href="/matches")
						span.fa.fa-heart.fa-big
						-if(notifications){
						span.notification #{notifications.matches}
						-}
				div.tall-col.col-1
					a(href="/messages")
						span.fa.fa-comment.fa-big
						-if(notifications){
						span.notification #{notifications.messages}
						-}
				div.tall-col.col-1
					div.dropdown
						button.dropdown-btn(onclick="myFunction()")
							span.fa.fa-user.fa-big
							span.fa.fa-caret-down.fa-small
						div.dropdown-content(id="myDropdown")
							a(href="/profile") Profile
							a(href="/logout") Logout
					a(href="profile.html")
					
	script(src="js/dropdown.js")
					
	block content