extends auth_base.jade

block content
	script(src="js/discover.js")
	div.dog-discover-profile
		div.row
			div.tall-col.col-4
			div.tall-col.col-4
				if(targetUser)
					h2.center-text Find playmates in your area!
					br
					div.discover-container
						div.img-container
							img(id="id_discover_image", src="data:" + targetUser.dog[0].picture.contentType + ";base64," + targetUser.dog[0].picture.data, alt="Dog Profile Picture")
						div.row
							form(method="post", action="/discover", name="discoverForm")
								div
									input(type="hidden", id="id_response", name="response")
									input(type="hidden", name="targetUser", value=targetUser._id)
								div.tall-col.col-10
									a(href="#", onclick="discover('reject');")
										span.fa.fa-times.fa-extra-big

								div.tall-col.col-1
									a(href="#", onclick="discover('accept');")
										span.fa.fa-heart.fa-extra-big.fa-red
				else
					h2.center-text There aren't any playmates in your area :(

			div.tall-col.col-4

	script(src="js/discover.js")
	link(href="stylesheets/discover.css", type="text/css", rel="stylesheet")