extends unauth_base.jade

block content			
	div
		div.row
			div.col.col-3
			div.col.col-6.center-text
				h2 Start finding play dates for your dog!
		div.row
			div.col.col-4
			div.col.col-4
				form(method="post", action="/login")
					input.text-input(type="email", name="username", placeholder="Email")
					br
					input.text-input(type="password", name="password", placeholder="Password")
					br
					button.btn.btn-primary.pull-right Login
		
		div.row
			div.col.col-4
			div.col.col-4
				a(href="forgotten_password.html", style="font-size: 14px") Forgotten Password?
				br
				br
				br
				span.pull-text-left You can begin your journey with DoggyDates by creating an 
					a(href="/register") Account!
			