extends auth_base.jade

block content
    h2.center-text Instructions for using DoggyDates
    br
    br
    div.row
        div.tall-col.col-2
        div.tall-col.col-6
            p Congratulations for creating your DoggyDates account!
            p It's time to get started finding some playdates for your dog!
            br
            p Firstly lets go through a tour of your screen and the features available to you.
            br
            br
            div.row
                div.tall-col.col-1
                    span.fa.fa-search.fa-big
                div.tall-col.col-8
                    p Clicking the search icon in the navigation bar takes you to the "Discovery" page. This where the magic happens and our heavily researched matchmaking algorithm does its thing. If you would like to read more about our matchmaking algorithm you can find details in our "About" section. The "Discovery" page displays your best match in our system and allows you to "Love" them by clicking the heart icon, and reject them by clicking the cross. If they "Love" you back you will get a notification next to the heart icon in your navigation bar.
            br
            hr
            div.row
                div.tall-col.col-1
                    span.fa.fa-heart.fa-big
                div.tall-col.col-8
                    p The heart icon in the navigation bar takes you to your "Matches". This page lists all your current matches (people you have "Loved" and who have "Loved" you back). As well as listing their details, they also have a direct link to our chat interface if you would like to message them.
            br
            hr
            div.row
                div.tall-col.col-1
                    span.fa.fa-comment.fa-big
                div.tall-col.col-8
                    p The messenger icon on the navigation bar takes you to, you guessed it, the messaging section! This icon will display the number of unread messages you have. Once you click on the messenger icon you will need to select a contact to message. If you have no contacts available it is because you do not currently have any matches and might have to up the cuteness in your dog's photo! If you have a number next to a contact, this shows you the number of unread messages you have from them. To send a message click on the contacts name, type the message you would like to send in the text box, and press "Send". Easy as that!
            br
            hr
            div.row
                div.tall-col.col-1
                    span.fa.fa-user.fa-big
                div.tall-col.col-8
                   p The dropdown contains multiple small features of the app. You can update your details and matching preferences, read about how the app works, and logout. Not the coolest section but still useful!