extends unauth_base.jade

block content
    h2.center-text Instructions for Registering an Account
    br
    br
    div.row
        div.tall-col.col-6
            p The information that you need to register an account is as follows:
            br
            p Dog Details
            ul
                li A photo of your dog to upload to the website
                li Your dogs name
                li Age of your dog
                li Gender of your dog
                li Breed of your dog
            br
            p Account Details
            ul
                li A picture of yourself
                li An email address
                li Your name
                li Your date of birth
                li Your gender
                li The suburb in which you live
            br
            br
            p To register for Doggy Dates follow the steps below:
            ol
                li Click "Account" at the bottom of DoggyDates home page.
                li Upload a photo of your dog.
                li Complete your dogs details.
                li Click "Next" at the bottom of the page.
                li Upload a photo of yourself.
                li Complete your details making sure to enter your date of birth in the correct format (mm-dd-yyyy).
                li Enter a secure password.
                li Click "Complete Registration" at the bottom of the page.
            br
            p That's it! You are ready to begin finding playdates for your dog and maybe something for you too, you never know!
            p Follow the onscreen instructions to log in.



