extends unauth_base.jade

block nav			
	div.row
		div.col.col-3
		div.col.col-6
			h3 Registration
			form.pull-text-left(method="post", action="registration_dog.html")
				div
					label Profile Picture
						br
						span.error(id="id_profile_picture_error")
						br
						input(id="id_profile_picture", type="file", name="profile_picture"m accept="image/*" required)
					br
					br
					span.error(id="id_email_error")
					input.text-input(id="id_email", type="email", name="email", placeholder="Email", required)
					br
					span.error(id="id_name_error")
					input.text-input(id="id_name", type="text", name="name", placeholder="Name", required)
					br
					span.error(id="id_dob_error")
					br
					input(id="id_dob", type="date", name="dob", required)
					br
					br
					label Gender
					br
					span.error(id="id_gender_error")
					br
					label Male
						input(type="radio", name="gender", value="male", required)
					label Female
						input(type="radio", name="gender", value="female", required)
					br
					br
					span.error(id="id_address_error")
					input.text-input(id="id_address", type="text", name="address", placeholder="Suburb", required)
					br
					span.error(id="id_pass1_error")
					input.text-input(id="id_pass1", type="password", name="password1", placeholder="Password", required)
					br
					span.error(id="id_pass2_error")
					input.text-input(id="id_pass2", type="password", name="password2", placeholder="Confirm Password", required)
				br
				button.btn.btn-primary.pull-right(onclick="validateForm(this.form)") Next
					
