extends layout.jade

block nav
	header
		nav
			div.navbar.row
				div.tall-col.col-3
					a(href="index.html")
						img(src="images/logo.png", alt="DoggyDates Logo")
		
	block content

	
block footer
	footer
		div.row
			div.col.col-1
			div.col.col-2
				Author: William Hunt
			div.col.col-1
			div.col.col-3
				Last Revised:
			div.col.col-1
				a(href="reference.html")
					References
	