extends unauth_base.jade

block content
    div
        div.row
            div.col.col-3
            div.col.col-6.center-text
                h2 Registration complete, Welcome to DoggyDates!
                h2 Click here to &nbsp; 
                    a(href="/") login.
